 
.icon__epiphany {
	background-image: url('/resources/img/icons/EpiphanySchool.png');
	background-repeat: no-repeat;
}

 
.icon__hiphop {
	background-image: url('/resources/img/icons/HIpHopForHope.png');
	background-repeat: no-repeat;
}

 
.icon__jett {
	background-image: url('/resources/img/icons/JettFoundation.png');
	background-repeat: no-repeat;
}

 
.icon__mspca {
	background-image: url('/resources/img/icons/MSPCA.png');
	background-repeat: no-repeat;
}

 
.icon__rogerson {
	background-image: url('/resources/img/icons/RogersonCommunities.png');
	background-repeat: no-repeat;
}

